/* Add CSS styling here */
html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}

ol,
ul {
  list-style: none;
}
/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}

* {
  box-sizing: border-box;
  max-width: width 100%;
  border: 1px solid grey;
}

/* General Styles*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: sans-serif;
}

header {
  margin: 3%;
  background-color: grey;
}

header h1 {
  font-size: 4rem;
}

header nav {
  display: flex;
  flex-direction: row;
}

.headerLinks a {
  margin: 1%;
  padding: 1%;

  background-color: #6a666b;
  text-decoration: none;
  color: azure;
}

.mainInfo {
  display: flex;
  flex-direction: row;
  /* margin: 3%; */
  justify-content: space-around;
}

.mainInfo div {
  display: flex;
  flex-direction: column;
  width: 65%;
  text-align: center;
}

.left img {
  width: 40%;
  margin: 0 auto;
}

.descriptionRight {
  padding: 4%;
  line-height: 2;
  font-family: "Kiwi Maru", serif;
  bottom: 20%;
  display: flex;
  flex-direction: column;
}

.descriptionRight h2 {
  font-size: 5.5rem;
}

.projectsRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 4%;
}

.projectColumn {
  display: flex;
  flex-direction: column;
  /* margin: 0 auto; */
  /* justify-content: center; */
  width: 31%;
}

.projectColumn p {
  /* width: 13%; */
  text-align: center;
}

.projectColumn img {
  width: 90%;
  margin: 0 auto;
}
